header {
  display: flex;
  flex-direction: column;
}

nav {
  align-items: center;
  text-align: center;
}

#main-nav {
  display: flex;
  justify-content: center;
  font-size: larger;
  width: 100%;
  height: 3rem;
  border-bottom: thick solid var(--zigtools-orange);
  gap: 0.4rem;
}

h1,
h2,
h3 {
  font-family: sans-serif;
  font-weight: 600;
  align-self: center;
  text-align: center;
}

h2, h3 {
  border-bottom: 1px dashed #aaa;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

#content, #header > :not(nav) {
  flex: 1;
  align-self: center;
  box-sizing: border-box;
  padding: 0 1.5rem;
  max-width: 700px;
}

footer {
  margin-top: 20px;
  align-self: center;
  text-align: center;
}

footer > p {
  margin: 0.4rem;
}

a {
  font-weight: bold;
}

a:not(:hover) {
  text-decoration: none;
}

pre {
  display: block;
  border: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: dashed;
  padding: 0.4rem 0.25rem;
  text-wrap: wrap;
}

p:has(+ pre) {
  margin-bottom: 0;
}

p code {
  font-weight: bold;
}

table {
  width: 100%;
  height: 100%;
}

table th {
  border-bottom: 1px solid #aaa;
}

td {
  padding: 0.3rem;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

figure img {
  max-width: 100%;
}

a {
  color: #121212;
}

pre {
  background-color: #f8f8f8;
  border-color: #090909;
}

@media (prefers-color-scheme: dark) {
  #main-nav {
    background-color: #242424;
    color: #ccc;
  }

  body {
    background-color: #121212;
    color: #ccc;
  }

  h1,
  h2,
  h3,
  a,
  b,
  strong,
  code {
    color: #eee;
  }

  pre {
    background-color: #191919;
    border-color: #aaa;
  }
}

/* Highlighting */

:root {
  --banner-note-color: rgb(35, 134, 54);
  --banner-warning-color: rgb(158, 106, 3);
  --banner-important-color: rgb(137, 87, 229);

  --zigtools-orange: #f7a41d;

  --fg: #c8d3f5;
  --fg-dark: #828bb8;
  --fg-gutter: #3b4261;
  --comment: #636da6;

  /* https://github.com/folke/tokyonight.nvim */
  --blue: #82aaff;
  --blue0: #3e68d7;
  --blue1: #65bcff;
  --blue2: #0db9d7;
  --blue5: #89ddff;
  --blue6: #b4f9f8;
  --blue7: #394b70;
  --cyan: #86e1fc;
  --dark3: #545c7e;
  --dark5: #737aa2;
  --green: #c3e88d;
  --green1: #4fd6be;
  --green2: #41a6b5;
  --magenta: #c099ff;
  --magenta2: #ff007c;
  --orange: #ff966c;
  --purple: #fca7ea;
  --red: #ff757f;
  --red1: #c53b53;
  --teal: #4fd6be;
  --yellow: #ffc777;
}

.comment {
  color: var(--comment);
}

.keyword,
.attribute,
.qualifier,
.function.builtin {
  color: var(--purple);
}

.string {
  color: var(--green);
}

.field {
  color: var(--green1);
}

.operator,
.delimiter {
  color: var(--blue5) !important;
}

.delimiter,
.bracket {
  color: var(--fg-dark);
}

.constructor,
.property,
.string.special.key {
  color: var(--magenta);
}


.function {
  color: var(--blue);
}

.variable,
.type.builtin {
  color: var(--blue1);
}

.variable.builtin,
.constant.builtin {
  color: var(--orange);
}