#main-nav, .release-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.75rem 0;
}

#content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: center;
  box-sizing: border-box;
  padding: 0 1.5rem;
  max-width: min(100%, 800px);
}

#main-nav {
  font-size: larger;
  border-bottom: thick solid var(--zig-orange);
  background-color: var(--nav-background-color);
}

@media (max-width: 600px) {
  #main-nav {
    flex-direction: column;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

footer {
  margin: 0.5rem;
  margin-top: 1.5rem;
  align-self: center;
  text-align: center;
}

a {
  font-weight: bold;
  color: var(--link-color);
}

pre {
  border: 0 dashed;
  border-top-width: 1px;
  border-bottom-width: 1px;
  padding: 0;
  overflow: auto;
  background-color: var(--secondary-background-color);
  border-color: var(--border-color);
}


@media (min-width: 600px) {
  pre {
    margin: 1rem;
  }
}

pre code {
  background-color: var(--secondary-background-color);
  padding: 0.4rem 0.25rem;
  display: block;
  padding-right: 0;
}

pre::before {
  display: block;
  font-size: 1.2em;
  padding: 0.5rem;
  position: sticky;
  z-index: 10;
  background-color: var(--tertiary-background-color);
  color: var(--code-text-color);
}

pre:has(> code.zig):before {
  content: "Zig";
}

pre:has(> code.json):before {
  content: "JSON";
}

pre:has(> code.lua):before {
  content: "Lua";
}

pre:has(> code.vim):before {
  content: "Vim";
}

pre:has(> code.toml):before {
  content: "TOML";
}

p:has(+ pre) {
  margin-bottom: 0;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

p, li {
  line-height: 1.5;
}

p code {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
b,
code,
strong {
  color: var(--text-highlight-color);
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-size: inherit;
  font-weight: bold;
  line-height: 1.2;
}

h1 {
  font-size: 2.75rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

/* Table */

table {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

th {
  font-size: large;
  padding: 0 0.5rem;
  border-bottom: 1px solid var(--border-color);
}

td {
  align-self: center;
  padding: 0.5rem;
}

tr:nth-child(2n) > td {
  background-color: var(--secondary-background-color);
}

/* Figure */

figure {
  margin-left: 0;
  margin-right: 0;
}

figure img, figure video {
  max-width: 100%;
  height: auto;
}

figure figcaption {
  text-align: center;
}

/* Lists */

ul {
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.4rem;
}

/* Classes */

.centered {
  align-items: center;
  text-align: center;
}

blockquote, .block {
  border-left: 0.3rem solid;
  padding: 0.25rem 1rem;
  margin: 0.75rem 0;
}

.block h1,
.block h2,
.block h3,
.block h4,
.block h5,
.block h6 {
  font-size: 1em;
  position: relative !important;
  margin: 0  0.25rem !important;
  text-align: left;
  border-bottom: 1px dashed var(--border-color);
}

blockquote {
  border-color: #80808050;
}

.note {
  border-color: #4493F8;
}

.tip {
  border-color: #3FB950;
}

.warning {
  border-color: #CCCC49;
}

/* Color */

:root {
  --zig-orange: #f7a41d;
  --border-color: #666;

  --background-color: white;
  --secondary-background-color: #f5f5f5;
  --tertiary-background-color: #eaeaea;
  --nav-background-color: white;
  --code-text-color: black;
  --text-highlight-color: #111;
  --text-color: #222;
  --link-color: #121212;

  /** 
    * The luminance values have carefully chosen to fulfill the WCAG Minimum
    * Contrast Criterion (AA)
    */
  --comment: hsl(270, 10%, 40%);
  --orange: hsl(35, 80%, 34%);
  --green: hsl(100, 50%, 33%);
  --cyan: hsl(180, 50%, 32%);
  --blue: hsl(215, 40%, 48%);
  --deep-blue: hsl(215, 70%, 48%);
  --purple: hsl(260, 50%, 50%);
  --magenta: hsl(300, 55%, 45%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
    --secondary-background-color: #191919;
    --tertiary-background-color: #242424;
    --nav-background-color: #242424;
    --code-text-color: #c8c8c8;
    --text-highlight-color: #fafafa;
    --text-color: #ccc;
    --link-color: #eee;

    --comment: hsl(270, 10%, 55%);
    --orange: hsl(35, 70%, 50%);
    --cyan: hsl(180, 50%, 50%);
    --green: hsl(100, 40%, 55%);
    --blue: hsl(215, 40%, 55%);
    --deep-blue: hsl(215, 70%, 60%);
    --purple: hsl(260, 60%, 65%);
    --magenta: hsl(300, 50%, 65%);
  }
}

.comment {
  color: var(--comment);
}

.keyword,
.keyword_type,
.conditional, /* switch */
.attribute,
.qualifier,
.function_builtin {
  color: var(--magenta);
}

.zig .operator /* try, catch, orelse, etc. */ {
  color: var(--magenta);
}

.string {
  color: var(--green);
}

.field {
  color: var(--cyan);
}

.constructor,
.property,
.string_special_key {
  color: var(--purple);
}

.variable,
.type_builtin {
  color: var(--blue);
}

@media (prefers-color-scheme: dark) {
  .variable {
    color: var(--code-text-color);
  }
}

.function_call {
  color: var(--deep-blue);
}

.number,
.constant_builtin {
  color: var(--orange);
}
